body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	color: #333;
  }

  /* Welcome Text Styling */
  main {
	padding: 2rem;
	text-align: center;
  }
  
  .welcome h1 {
	font-size: 2.5rem;
	color: #004080;
	margin-bottom: 1rem;
  }
  
  .welcome p {
	font-size: 1.25rem;
	color: #333;
  }
  
    
  .container {
	max-width: 1200px;
	margin: 40px auto;
	padding: 0 15px;
  }
  

  h2 {
	margin-bottom: 10px;
	font-size: 28px;
	color: #063f78
  }
  
  .section {
	margin-bottom: 40px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .data-container {
	margin-top: 10px;
  }
  
  .data-item {
	margin-bottom: 15px;
  }
  
  .data-item strong {
	color: #222842;
  }
  
  #personal-info .data-container,
  #income .data-container,
  #expenses .data-container,
  #liabilities .data-container,
  #savings-goals .data-container {
	font-size: 18px;
	line-height: 1.6;
  }
  
  .data-item:nth-child(odd) {
	background-color: #e7e6e6;
	padding: 8px;
	border-radius: 5px;
  }
  
  .data-item:nth-child(even) {
	background-color: #889fb575;
	padding: 8px;
	border-radius: 5px;
  }